@tailwind base;
@tailwind components;
@tailwind utilities;

.image-fill-text {
    background-image: url('/src/assets/marmalade.png');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
}

